.frg-ui-map-zoom-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border-radius: 0.25rem;
}
