.primaryButtons{
    left: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
}

.secondaryButtons {
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 999;
}

.frg-ui-map-lock {
    color: purple;
}

.ol-layer {
    background-color: red;
}

.ol-layer:focus-within {
  border: 2px solid blue; /* Example style: add a blue border */
  background-color: lightyellow; /* Example style: change background color */
}
